<ion-header>
  <ion-toolbar>
    <img class="title-image" src="assets/logo.png" width="43" height="43" href="/home" slot="end">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Hot News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let item of items">
    <ion-img *ngIf="item._embedded['wp:featuredmedia']" [src]="item._embedded['wp:featuredmedia'][0].source_url"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{ item.date | date:dateFormat }}</ion-card-subtitle>
      <ion-card-title [innerHTML]="item.title.rendered"></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div [innerHTML]="item.excerpt.rendered"></div>
      <div>
        <ion-button href="/{{item.slug}}" routerDirection="root" class="read_more" size="small">Read more...</ion-button>
      </div>
      Posted in W<br/>
      Tagged X, Y, Z
    </ion-card-content>
  </ion-card>


</ion-content>
